deployment:
  apiVersion: "apps/v1"
  
ingress:
  apiversion: networking.k8s.io/v1

service:
  apiversion: "v1"

secret:
  apiversion: "v1"

configmap:
  apiversion: "v1"

mpesa:
  enabled: true
  image: "419830066942.dkr.ecr.ap-south-1.amazonaws.com/ph-mpesa"
  imageTag: latest
  SPRING_PROFILES_ACTIVE: "bb"
  hostname: "mpesa.sandbox.mifos.io"
  tenant: "lion"
  zeebe_broker_contactpoint: "zeebe-zeebe-gateway:26500"
  callback_host: "https://mpesa.sandbox.mifos.io/"
  retry_count: 3
  api_timeout: 60000
  serviceAccountName: ""
  channel:
    host: "http://ph-ee-connector-channel"
  paygops:
    host: "http://ph-ee-connector-ams-paygops"
  roster:
    host: "http://ph-ee-connector-ams-roster"
  accounts:
    roster:
      name: "roster"
      business_short_code: "7385028"
      till: "1234567"
      auth_host: "https://sandbox.safaricom.co.ke/oauth/v1/generate"
      api_host: "https://sandbox.safaricom.co.ke"
      client_key: "0pLxbN83FrOl5Nd0Fh9Zi5BQlMxSL2n5"
      client_secret: "YzuGNoJxeub8ZC6d"
      pass_key: "bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919"
    paygops:
      name: "paygops"
      business_short_code: "668158"
      till: "9347335"
      auth_host: "https://sandbox.safaricom.co.ke/oauth/v1/generate"
      api_host: "https://sandbox.safaricom.co.ke"
      client_key: "0pLxbN83FrOl5Nd0Fh9Zi5BQlMxSL2n5"
      client_secret: "YzuGNoJxeub8ZC6d"
      pass_key: "bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919"
  paybill:
    accountHoldingInstitutionId: "gorilla"
    paygops:
      business_short_code: "24322607"
      currency: "KES"
    roster:
      business_short_code: "12345678"
      currency: "KES"
  limits:
    cpu: "500m"
    memory: "512M"
  requests:
    cpu: "100m"
    memory: "256M"
  ingress:
    enabled: true
    className: "nginx"
    annotations:
      kubernetes.io/ingress.class: "nginx"
    tls:
    - hosts: "mpesa.sandbox.mifos.io"
    - secretName: sandbox-secret 
    path: "/"
    backend:
      service:
        name: ph-ee-connector-mpesa
        port:
          number: 80
  deployment:
    annotations:
      deployTime: "{{ .Values.deployTime }}"
  skip:
    enabled: false