service:
  apiversion: "v1"
  annotations: {}

secret:
  apiversion: "v1"

configmap:
  apiversion: "v1" 

enabled: true
image: ""
imageTag: latest
imagePullPolicy: "Always"
SPRING_PROFILES_ACTIVE: "bb,tenants"
LOGGING_LEVEL_ROOT: "INFO"
billpay:
  contactpoint: ""
connector:
  contactpoint: ""
DFSPIDS: ""
operations:
  url: ""
limits:
  cpu: "500m"
  memory: "512M"
requests:
  cpu: "100m"
  memory: "256M"
  initialDelaySeconds: 20
  periodSeconds: 30  
# Enabling this will publicly expose your channel instance.
# Only enable this if you have security enabled on your cluster
ingress:
  enabled: true
  annotations: {}
  # kubernetes.io/ingress.class: "nginx"
  pathtype: Prefix
  hosts:
    - host: "" 
      paths:
        - path: /
  tls: []
  #  - secretName: sandbox-secret
  #    hosts:
  #      - chart-example.local

deployment:
  apiVersion: "apps/v1"
  annotations:
    deployTime: "{{ .Values.deployTime }}"

extraInitContainers: []
