{{- if .Values.enabled -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: "ph-ee-connector-gsma"
  labels:
    app: "ph-ee-connector-gsma"
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: "ph-ee-connector-gsma"
  template:
    metadata:
      labels:
        app: "ph-ee-connector-gsma"
      annotations:
{{- if .Values.deployment.annotations }}
{{ toYaml .Values.deployment.annotations | indent 8 }}
{{- end }}
    spec:
      initContainers:
      #During this Pod's initialization, check that zeebe-gateway service is up and running before starting this pod
      - name: check-zeebe-gateway-ready
        image: busybox:latest
        command: ['sh', '-c','until nc -vz {{ .Release.Name }}-zeebe-gateway 26500; do echo "Waiting for myconfig service"; sleep 2; done;']
      containers:
        - name: "ph-ee-connector-gsma-mm"
          image: "{{ .Values.image }}"
          imagePullPolicy: "{{ .Values.global.imagePullPolicy }}"
          ports:
            - containerPort: 5000 
          livenessProbe: 
            httpGet:
              path: "{{ .Values.livenessProbe.httpGet.path }}"
              port: "{{ .Values.livenessProbe.httpGet.port }}"
              scheme: "{{ .Values.livenessProbe.httpGet.scheme }}"
            initialDelaySeconds: "{{ .Values.livenessProbe.initialDelaySeconds }}"
            periodSeconds: "{{ .Values.livenessProbe.periodSeconds }}"
          readinessProbe: 
            httpGet:
              path: "{{ .Values.readinessProbe.httpGet.path }}"
              port: "{{ .Values.readinessProbe.httpGet.port }}"
              scheme: "{{ .Values.readinessProbe.httpGet.scheme }}"
            initialDelaySeconds: "{{ .Values.readinessProbe.initialDelaySeconds }}"
            periodSeconds: "{{ .Values.readinessProbe.periodSeconds }}"
          resources:
            limits:
              memory: "{{ .Values.limits.memory }}"
              cpu: "{{ .Values.limits.cpu }}"
            requests:
              memory: "{{ .Values.requests.memory }}"
              cpu: "{{ .Values.requests.cpu }}"
          env:
            - name: "SPRING_PROFILES_ACTIVE"
              value: "{{ .Values.global.SPRING_PROFILES_ACTIVE }}"
            - name: "ZEEBE_BROKER_CONTACTPOINT"
              value: "{{ .Release.Name }}-zeebe-gateway:26500"
{{- if .Values.extraEnvs | default .Values.deployment.extraEnvs }}
{{ toYaml ( .Values.extraEnvs | default .Values.deployment.extraEnvs ) | indent 10 }}
{{- end }}        
          envFrom: {{ toYaml ( .Values.envFrom | default .Values.deployment.envFrom ) | nindent 12 }}
          securityContext: {{ toYaml ( .Values.podSecurityContext | default .Values.deployment.securityContext ) | nindent 12 }}              
          volumeMounts:
            - name: ph-ee-config
              mountPath: "/config"
      volumes:
        - name: ph-ee-config
          configMap:
            name: ph-ee-config
{{- end }}