{{- if .Values.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "ph-ee-connector-ams-paygops"
  labels:
    app: ph-ee-connector-ams-paygops
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: ph-ee-connector-ams-paygops
  template:
    metadata:
      labels:
        app: ph-ee-connector-ams-paygops
      annotations:
{{- if .Values.deployment.annotations }}
{{ toYaml .Values.deployment.annotations | indent 8 }}
{{- end }}
    spec:
      containers:
        - name: ph-ee-connector-ams-paygops
          image: "{{ .Values.image }}:{{ .Values.imageTag }}"
          ports:
            - containerPort: 5000
          imagePullPolicy: "{{ .Values.global.imagePullPolicy }}"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
          env:
            - name: "SPRING_PROFILES_ACTIVE"
              value: "{{ .Values.global.SPRING_PROFILES_ACTIVE }}"
            - name: "ZEEBE_BROKER_CONTACTPOINT"
              value: "{{ .Release.Name }}-zeebe-gateway:26500"
            - name: "AMS_LOCAL_ENABLED"
              value: "{{ .Values.ams.local.enabled }}"
            - name: "PAYGOPS_AUTHHEADER"
              value: null
              valueFrom:
                secretKeyRef:
                  name: "paygops-secret"
                  key: "auth-token"
            - name: "PAYGOPS_BASE-URL"
              value: "{{ .Values.paygops.base_url }}"
            - name: "LOGGING_LEVEL_ROOT"
              value: "{{ .Values.global.LOGGING_LEVEL_ROOT }}"
{{- if .Values.extraEnvs | default .Values.deployment.extraEnvs }}
{{ toYaml ( .Values.extraEnvs | default .Values.deployment.extraEnvs ) | indent 10 }}
{{- end }}        
          envFrom: {{ toYaml ( .Values.envFrom | default .Values.deployment.envFrom ) | nindent 12 }}
          securityContext: {{ toYaml ( .Values.podSecurityContext | default .Values.deployment.securityContext ) | nindent 12 }}              
          resources:
            limits:
              memory: "{{ .Values.limits.memory }}"
              cpu: "{{ .Values.limits.cpu }}"
            requests:
              memory: "{{ .Values.requests.memory }}"
              cpu: "{{ .Values.requests.cpu }}"
{{- end }}