ingress:
  apiversion: networking.k8s.io/v1

service:
  apiversion: "v1"

secret:
  apiversion: "v1"

configmap:
  apiversion: "v1"

enabled: true
image: ""
imageTag: ""
LOGGING_LEVEL_ROOT: "INFO"
LOGGING_PATTERN_CONSOLE: "%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n"
javaToolOptions: "-Xmx256M"
SPRING_PROFILES_ACTIVE: "local,tenantsConnection"
bucket_name: "paymenthub-ee-dev"
limits:
  cpu: "500m"
  memory: "512M"
requests:
  cpu: "100m"
  memory: "256M"
datasource:
  username: "mifos"
  password: "password"
  host: "operationsmysql"
  port: 3306
  schema: "tenants"
deployment:
  apiVersion: "apps/v1"
  annotations:
    deployTime: "{{ .Values.deployTime }}"
extraInitContainers: []
