{{- if .Values.messagegateway.enabled -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: message-gateway
  labels:
    app: message-gateway
spec:
  replicas: {{ .Values.messagegateway.replicas }}
  selector:
    matchLabels:
      app: message-gateway
  template:
    metadata:
      labels:
        app: message-gateway
      annotations:
{{- if .Values.messagegateway.deployment.annotations }}
{{ toYaml .Values.messagegateway.deployment.annotations | indent 8 }}
{{- end }}
    spec:
      containers:
        - name: message-gateway
          image: "{{ .Values.messagegateway.image }}:{{ .Values.messagegateway.imageTag }}"  
          ports:
            - containerPort: 9191
          imagePullPolicy: "{{ .Values.messagegateway.imagePullPolicy }}"
          resources:
            limits:
              memory: "{{ .Values.messagegateway.limits.memory }}"
              cpu: "{{ .Values.messagegateway.limits.cpu }}"
            requests:
              memory: "{{ .Values.messagegateway.requests.memory }}"
              cpu: "{{ .Values.messagegateway.requests.cpu }}"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 9191
            initialDelaySeconds: 120
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 9191
            initialDelaySeconds: 120
            periodSeconds: 30

          env:
            - name: "SPRING_DATASOURCE_URL"
              value: "{{ .Values.messagegateway.DATASOURCE_URL }}"
            - name: "MYSQL_USERNAME"
              value: "{{ .Values.messagegateway.MYSQL_USERNAME }}"
            - name: "MYSQL_PASSWORD"
              valueFrom:
                secretKeyRef:
                  name: "messagegateway-secret"
                  key: "database-password"
            - name: "CALLBACKCONFIG_HOST"
              value: "{{ .Values.messagegateway.CALLBACKCONFIG_HOST }}"
            - name: "HOSTCONFIG_HOST"
              value: "{{ .Values.messagegateway.HOSTCONFIG_HOST }}"
            - name: "PROVIDERSOURCE_FROMDATABASE"
              value: "{{ .Values.messagegateway.PROVIDERSOURCE_FROMDATABASE }}"
            - name: "PROVIDERSOURCE_FROMYML"
              value: "{{ .Values.messagegateway.PROVIDERSOURCE_FROMYML }}"
            - name: "LOGGING_LEVEL_ROOT"
              value: "{{ .Values.messagegateway.LOGGING_LEVEL_ROOT }}"
            - name: "PROVIDERKEYS_TELERIVETAPIKEY"
              valueFrom:
                secretKeyRef:
                  name: "messagegateway-secret"
                  key: "api-key"
            - name: "PROVIDERKEYS_TELERIVETPROJECTID"
              valueFrom:
                secretKeyRef:
                  name: "messagegateway-secret"
                  key: "project-id"
          volumeMounts:
            - name: ph-ee-config
              mountPath: "/config"
      initContainers:
        - name: wait-db
          image: jwilder/dockerize
          imagePullPolicy: IfNotPresent
          args:
            - -timeout=120s
            - -wait
            - tcp://{{ .Values.operations_app.datasource.host | default "operationsmysql" }}:3306
      volumes:
        - name: ph-ee-config
          configMap:
            name: ph-ee-config
{{- end }}            