{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: message-gateway
  annotations:
{{- if .Values.ingress.annotations }}
{{ toYaml .Values.ingress.annotations | indent 4 }}
{{- end }}
spec:
  rules:
    - host: "{{ .Values.hostname }}"
      http:
        paths:
          - path: "{{ .Values.ingress.path }}"
            pathType: Prefix
            backend:
{{- if .Values.ingress.backend }}
{{ toYaml .Values.ingress.backend | indent 14 }}
{{- end }} 

  tls:
  - hosts:
    - "{{ .Values.wildcardhostname }}"
    secretName: "{{ .Values.tls }}"
{{- end }}