{{- if .Values.enabled -}}
apiVersion: {{ .Values.secret.apiversion }}
kind: Secret
metadata:
  name: messagegateway-secret
type: Opaque
data:
  api-key: "{{ .Values.secret.value.api_key | b64enc }}"
  project-id: "{{ .Values.secret.value.project_id | b64enc }}"
  database-password: "{{ .Values.MYSQL_PASSWORD | b64enc }}"
{{- end }}  