{{- if .Values.enabled -}}
apiVersion: {{ .Values.secret.apiversion }}
kind: Secret
metadata:
  name: mpesa-secret-roster
type: Opaque
data:
  client-key: {{ .Values.accounts.roster.client_key | b64enc }}
  client-secret: {{ .Values.accounts.roster.client_secret | b64enc }}
  pass-key: {{ .Values.accounts.roster.pass_key | b64enc }}
{{- end }}  

---
{{- if .Values.enabled -}}
apiVersion: {{ .Values.secret.apiversion }}
kind: Secret
metadata:
  name: mpesa-secret-paygops
type: Opaque
data:
  client-key: {{ .Values.accounts.paygops.client_key | b64enc }}
  client-secret: {{ .Values.accounts.paygops.client_secret | b64enc }}
  pass-key: {{ .Values.accounts.paygops.pass_key | b64enc }}
{{- end }}  