service:
  apiversion: "v1"

secret:
  apiversion: "v1"

configmap:
  apiversion: "v1"

enabled: true
SPRING_PROFILES_ACTIVE: ""
MESSAGEGATEWAYCONFIG_HOST: "message-gateway"
NOTIFICATION_LOCAL_HOST: "ph-ee-connector-notifications"
NOTIFICATION_SUCCESS_ENABLED: "false"
NOTIFICATION_FAILURE_ENABLED: "false"
imagePullPolicy: "ifNotPresent"
hostconfig:
  host: "message-gateway"
  port: 80
# Enabling this will publicly expose your Elasticsearch instance.
# Only enable this if you have security enabled on your cluster
ingress:
  enabled: false
  annotations: {}
  # kubernetes.io/ingress.class: "nginx"
  pathtype: ImplementationSpecific
  hosts:
    - host: "" 
      paths:
        - path: /
  tls: []
  #  - secretName: sandbox-secret
  #    hosts:
  #      - chart-example.local
deployment:
  apiVersion: "apps/v1"
  annotations:
    deployTime: "{{ .Values.deployTime }}"
