dependencies:
  - name: ph-ee-engine
    repository: https://fynarfin.io/images
    version: 0.0.0
  - name: zeebe-cluster-helm
    repository: https://helm.camunda.io
    version: 1.0.0
  - name: zeebe-operate-helm
    repository: https://helm.camunda.io
    version: 1.2.0
    condition: "zeebe-operate-helm.enabled"
  - name: elasticsearch
    repository: http://helm.elastic.co
    version: 7.16.3
  - name: kibana
    repository: http://helm.elastic.co
    version: 7.16.3
    condition: "kibana.enabled"
  - name: mysql
    version: 9.4.5
    repository: "https://charts.bitnami.com/bitnami"
    alias: operationsmysql
    condition: "operations.mysql.enabled"
  - name: kong
    version: 2.13.1
    repository: https://charts.konghq.com
    condition: "kong.enabled"
  - name: keycloak
    version: 18.1.1
    repository: https://codecentric.github.io/helm-charts
    condition: "keycloak.enabled"
  - name: redis
    version: 17.9.3
    repository: "https://charts.bitnami.com/bitnami"
    condition: "redis.enabled"
