
zeebe-cluster:
  global:
    zeebe: "zeebe-zeebe"
    elasticsearch:
      host: "zeebe-elasticsearch"

  image:
    repository: paymenthubee.azurecr.io/phee/zeebe
    tag: 0.24.2-kafkaclient
  clusterSize: "1"
  partitionCount: "1"
  replicationFactor: "1"
  cpuThreadCount: "2"
  ioThreadCount: "2"
  pvcSize: "10Gi"
  pvcAccessModes: [ "ReadWriteOnce" ]

  resources:
    requests:
      cpu: 100m

  env:
    - name: ZEEBE_BROKER_BACKPRESSURE_ENABLED
      value: "false"
    - name: ZEEBE_BROKER_EXECUTION_METRICS_EXPORTER_ENABLED
      value: "true"
    - name: ZEEBE_BROKER_EXPORTERS_KAFKA_JARPATH
      value: "/exporters/ph-ee-kafka-exporter.jar"
    - name: ZEEBE_BROKER_EXPORTERS_KAFKA_CLASSNAME
      value: "hu.dpc.rt.kafkastreamer.exporter.KafkaExporter"
    - name: ZEEBE_BROKER_BACKPRESSURE_VEGAS_INITIALLIMIT
      value: "1000"
    - name: ZEEBE_BROKER_BACKPRESSURE_VEGAS_ALPHA
      value: "2"
    - name: ZEEBE_BROKER_BACKPRESSURE_VEGAS_BETA
      value: "8"

  gateway:
    replicas: 1
    logLevel: warn
    env:
      - name: ZEEBE_GATEWAY_THREADS_MANAGEMENTTHREADS
        value: "4"
      - name: ZEEBE_GATEWAY_MONITORING_ENABLED
        value: "true"


  # zeebe's dependencies
  elasticsearch:
    enabled: false
    fullnameOverride: "zeebe-elasticsearch"
    clusterName: "zeebe-elasticsearch"

  kibana:
    enabled: false
    fullnameOverride: "zeebee-kibana"
    elasticsearchHosts: "http://zeebe-elasticsearch:9200/"

  prometheus:
    enabled: false

  extraInitContainers: |
    - name: init-ph-ee-kafka-exporter
      image: busybox:1.28
      command: ['/bin/sh', '-c']
      args: ['wget -O /exporters/ph-ee-kafka-exporter.jar "http://jenkins.mifos.io:8081/repository/ph-ee-snapshot/hu/dpc/phee/exporter/1.0.0-SNAPSHOT/exporter-1.0.0-20200812.142323-10.jar"; ls -al /exporters/']
      volumeMounts:
      - name: exporters
        mountPath: /exporters/

# payment hub Operate, ES and Kibana
zeebe-operate:
  enabled: false
  fullnameOverride: "zeebe-operate"
  global:
    zeebe: "zeebe-zeebe"
    elasticsearch:
      host: "zeebe-elasticsearch"
      clusterName: "zeebe-elasticsearch"


elasticsearch:
  enabled: false
  imageTag: 6.8.5
  replicas: 1
  fullnameOverride: "ph-ee-elasticsearch"
  clusterName: "ph-ee-elasticsearch"
  minimumMasterNodes: 1

kibana:
  enabled: false
  imageTag: 6.8.5
  fullnameOverride: "ph-ee-kibana"
  elasticsearchHosts: "http://ph-ee-elasticsearch:9200/"

operations:
  enabled: true

operationsMysql:
  fullnameOverride: operations-mysql

ph_ee_connector_ams_mifos:
  SPRING_PROFILES_ACTIVE: ""

ph_ee_connector_mojaloop:
  SPRING_PROFILES_ACTIVE: ""

ph_ee_connector_channel:
  SPRING_PROFILES_ACTIVE: ""
  hostname: ""

ph_ee_connector_gsma:
  SPRING_PROFILES_ACTIVE: ""

ph_ee_operations_app:
  SPRING_PROFILES_ACTIVE: ""
  hostname: ""

ph_ee_operations:
  hostname: ""
  webhost: ""

ph_ee_identity:
    hostname: ""