service:
  apiversion: "v1"

secret:
  apiversion: "v1"

configmap:
  apiversion: "v1"


enabled: false
replicas: 1
image: ""
imagePullPolicy: "Always"
SPRING_PROFILES_ACTIVE: ""
LOGGING_LEVEL_ROOT: "INFO"
DFSPIDS: ""
mockFailure:
  percentage: "0"
limits:
  memory: "384M"
  cpu: "500m"
requests:
  memory: "256M"
  cpu: "100m"
deployment:
  annotations: { }
ingress:
  enabled: true
  annotations: { }
  # kubernetes.io/ingress.class: "nginx"
  pathtype: ImplementationSpecific
  hosts:
    - host: ""
      paths:
        - path: /
  tls: [ ]
  #  - secretName: sandbox-secret
  #    hosts:
  #      - chart-example.local
livenessProbe:
  initialDelaySeconds: 20
  periodSeconds: 30
readinessProbe:
  initialDelaySeconds: 20
  periodSeconds: 30

extraInitContainers: []
