service:
  apiversion: "v1"

configmap:
  apiversion: "v1"

enabled: true
image: ""
imageTag: ""
secret:
  apiversion: "v1"
  value:
    api_key: "<api-key>"
    project_id: "<project-id>"
CALLBACKCONFIG_HOST: "ph-ee-connector-notifications"
HOSTCONFIG_HOST: "message-gateway"
MYSQL_USERNAME: "mifos"
MYSQL_PASSWORD: "password"
DATASOURCE_URL: jdbc:mysql:thin://operationsmysql:3306/messagegateway
PROVIDERSOURCE_FROMDATABASE: "disabled"
PROVIDERSOURCE_FROMYML: "enabled"
limits:
  cpu: "500m"
  memory: "512M"
requests:
  cpu: "100m"
  memory: "256M" 
# Enabling this will publicly expose your Elasticsearch instance.
# Only enable this if you have security enabled on your cluster
ingress:
  enabled: false
  annotations: {}
  # kubernetes.io/ingress.class: "nginx"
  pathtype: ImplementationSpecific
  hosts:
    - host: "" 
      paths:
        - path: /
  tls: []
  #  - secretName: sandbox-secret
  #    hosts:
  #      - chart-example.local 
deployment:
  apiVersion: "apps/v1"
  annotations:
    deployTime: "{{ .Values.deployTime }}"

operations_app:
  datasource:
    host: "operationsmysql"
    port: "3306"

livenessProbe:
  initialDelaySeconds: 20
  periodSeconds: 30
readinessProbe:
  initialDelaySeconds: 20
  periodSeconds: 30
extraInitContainers: []
