deployment:
  apiVersion: "apps/v1"
  
ingress:
  apiversion: networking.k8s.io/v1

service:
  apiversion: "v1"

secret:
  apiversion: "v1"

configmap:
  apiversion: "v1"

operations_app:
  enabled: true
  image: "419830066942.dkr.ecr.ap-south-1.amazonaws.com/ph-ee-ops-bk"
  imageTag: "latest"
  SPRING_PROFILES_ACTIVE: "bb"
  tenants: "gorilla,lion, phdefault"
  hostname: "ops-bk.sandbox.mifos.io"
  datasource:
    username: "mifos"
    password: "password"
    host: "operationsmysql"
    port: 3306
    schema: "tenants"
  limits:
    cpu: "500m"
    memory: "512M"
  requests:
    cpu: "100m"
    memory: "256M"
  wildcardhostname: ops-bk.sandbox.mifos.io        
  ingress:
    enabled: true
    className: "kong"
    annotations:
      kubernetes.io/ingress.class: "nginx"
      nginx.ingress.kubernetes.io/configuration-snippet: |
        more_set_headers "Access-Control-Allow-Origin: *";
        more_set_headers "Platform-TenantId: *";
      nginx.ingress.kubernetes.io/cors-allow-credentials: 'true'
      nginx.ingress.kubernetes.io/cors-allow-headers: >-
        DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,Platform-TenantId
      nginx.ingress.kubernetes.io/cors-allow-methods: PUT, GET, POST, OPTIONS, DELETE, PATCH
      nginx.ingress.kubernetes.io/enable-cors: 'true'
    tls:
    - hosts: "ops-bk.sandbox.mifos.io"
    - secretName: sandbox-secret
    path: "/"
    backend:
      service:
        name: ph-ee-operations-app
        port:
          number: 80
  deployment:
    annotations:
      deployTime: "{{ .Values.deployTime }}"
