service:
  apiversion: "v1"

secret:
  apiversion: "v1"

configmap:
  apiversion: "v1"

enabled: true
image: ""
imageTag: "latest"
SPRING_PROFILES_ACTIVE: ""
DFSPIDS: "gorilla,rhino"
switch:
  quotes:
    host: "http://quoting-service.sandbox.mifos.io"
    service: "quoting-service.sandbox.mifos.io"
  als:
    host: "http://account-lookup-service.sandbox.mifos.io"
    service: "account-lookup-service.local"
  transfers:
    host: "http://api-adapter.sandbox.mifos.io"
    service: "api-adapter.sandbox.mifos.io"
  transactions:
    host: "http://ml-api-adapter.sandbox.mifos.io"
    service: "ml-api-adapter.sandbox.mifos.io"
  oracle:
    host: "http://moja-simulator.sandbox.mifos.io"
limits:
  cpu: "500m"
  memory: "384M"
requests:
  cpu: "100m"
  memory: "256M"   
# Enabling this will publicly expose your Elasticsearch instance.
# Only enable this if you have security enabled on your cluster
ingress:
  enabled: false
  annotations: {}
  # kubernetes.io/ingress.class: "nginx"
  pathtype: ImplementationSpecific
  hosts:
    - host: "" 
      paths:
        - path: /
  tls: []
  #  - secretName: sandbox-secret
  #    hosts:
  #      - chart-example.local
  
deployment:
  apiVersion: "apps/v1"
  annotations:
    deployTime: "{{ .Values.deployTime }}"
extraInitContainers: []
