service:
  apiversion: "v1"

secret:
  apiversion: "v1"

configmap:
  apiversion: "v1"
  
enabled: true
image: "spotify/kafka"
nodePort: 30093
advertised:
  host: "kafka"
  port: "9092"
limits:
  cpu: "500m"
  memory: "1G"
requests:
  cpu: "100m"
  memory: "512M"
deployment:
  apiVersion: apps/v1
  annotations:
    deployTime: "{{ .Values.deployTime }}"