apiVersion: apps/v1
kind: Deployment
metadata:
  name: "ph-ee-connector-notifications"
  labels:
    app: ph-ee-connector-notifications
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ph-ee-connector-notifications
  template:
    metadata:
      labels:
        app: ph-ee-connector-notifications
      annotations:
        deployTime: "{{ .Values.deployTime }}"
    spec:
      containers:
        - name: ph-ee-connector-notifications
          image: ankitafynarfin/ph-ee-connector-notifications
        ports:
           - containerPort: 5000


---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: ph-ee-connector-notifications
  name: ph-ee-connector-notifications
spec:
  ports:
    - name: port
      port: 80
      protocol: TCP
      targetPort: 5000
  selector:
    app: ph-ee-connector-notifications
  sessionAffinity: None
  type: ClusterIP
